<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
	<main class="container-fluid">
		<div style="margin: 0 auto" class="text-center">
			<div class="row container-fluid text-center">
				<div class="col text-center mb-4" style="font-size: 30px">THÀNH VIÊN</div>
			</div>
			<div class="row container-fluid">
				<div class="col-3 p-2 text-center">
					<div class="ui link cards">
						<div style="width: 300px" class="card">
							<div class="image">
								<img style="height: 300px;" class="img-fluid"
									src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t1.6435-9/69845670_111625940221327_2171000268982845440_n.jpg?_nc_cat=110&ccb=1-4&_nc_sid=19026a&_nc_ohc=8GLIM8ZGj-EAX83-Dsq&_nc_ht=scontent.fsgn2-6.fna&oh=8f5301749919087e33fd2248b47edcc9&oe=6137A8C5">
							</div>
							<div class="content">
								<div class="header">Nguyễn Văn Ngôn</div>
								<div class="meta">
									<a>Nhóm Trưởng</a>
								</div>
								<div class="description">Matthew is an interior designer
									living in New York.</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-3 p-2 text-center">
					<div class="ui link cards">
						<div class="card">
							<div class="image">
								<img style="height: 300px" class="img-fluid"
									src="https://scontent.fsgn2-3.fna.fbcdn.net/v/t1.6435-9/201329252_2587190588242673_7103576752854092663_n.jpg?_nc_cat=108&ccb=1-4&_nc_sid=09cbfe&_nc_ohc=uS2LF0-7TcYAX-owxdI&_nc_ht=scontent.fsgn2-3.fna&oh=3768cfa491b01d4593401b0209fee716&oe=613A6B3F">
							</div>
							<div class="content">
								<div class="header">Hoàng Thanh Hải</div>
								<div class="meta">
									<a>Friends</a>
								</div>
								<div class="description">Matthew is an interior designer
									living in New York.</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-3 p-2 text-center">
					<div class="ui link cards">
						<div class="card">
							<div class="image">
								<img style="height: 300px" class="img-fluid"
									src="https://scontent.fsgn2-2.fna.fbcdn.net/v/t1.15752-9/220283564_1168139523698337_5391739928335436632_n.png?_nc_cat=100&ccb=1-4&_nc_sid=ae9488&_nc_ohc=FXNojO1Lc1IAX-JDO4p&_nc_ht=scontent.fsgn2-2.fna&oh=6d76724227ca4e6c036f215379754a09&oe=6138679C">
							</div>
							<div class="content">
								<div class="header">Nguyễn Anh Tuấn</div>
								<div class="meta">
									<a>Friends</a>
								</div>
								<div class="description">Matthew is an interior designer
									living in New York.</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-3 p-2 text-center">
					<div class="ui link cards">
						<div class="card">
							<div class="image">
								<img style="height: 300px" class="img-fluid"
									src="https://scontent.fsgn2-1.fna.fbcdn.net/v/t1.6435-9/204289119_858107991777004_387479824729730926_n.jpg?_nc_cat=107&ccb=1-4&_nc_sid=09cbfe&_nc_ohc=2Ut7Wkm-F7EAX-e7c6J&_nc_oc=AQliPm55ta1He-ckLHOmV0zBl0xXrAvuKaDuPBFODbckTTmw2iEACOpxSq4vkxHx78nyfflqhXzgzRbV2EfMtYJj&_nc_ht=scontent.fsgn2-1.fna&oh=b65fcff144eb1d94cf2e6352683720d3&oe=613881E2">
							</div>
							<div class="content">
								<div class="header">Đặng Tuấn Anh</div>
								<div class="meta">
									<a>Friends</a>
								</div>
								<div class="description">Matthew is an interior designer
									living in New York.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>

</html>